<div>

    <div class="container">

        <div class="row">
            <button routerLink="/cadastro">Cadastrar novo funcionario</button>
        </div>

        <div class="row-select">
            <input type="search" (input)="search($event)">
        </div>

        <div class="row-tables">
            <table>
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>Nome</th>
                        <th>SobreNome</th>
                        <th>Departamento</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let linha of funcionarios">
                    <tr>
                        <td>
                            <div *ngIf="linha.ativo == true else inativo">
                                <img src="assets/images/Ativo.png" width="25">
                            </div>

                            <ng-template #inativo>
                                <img src="assets/images/Inativo.png" width="25">
                            </ng-template>


                        </td>
                        <td>{{ linha.nome }}</td>
                        <td>{{ linha.sobrenome }}</td>
                        <td>{{ linha.departamento }}</td>
                        <td>
                            <button>Editar</button>
                            <button>Detalhes</button>
                        </td>
                        <td>
                            <button>Excluir</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>