<div>

    <div class="container">

        <div class="row">
            <button>Cadastrar novo funcionario</button>
        </div>

        <div class="row-select">
            <input type="search">
        </div>

        <div class="row-tables">
            <table>
                <thead>
                    <tr>
                        <th>
                            <img src="assets/images/Ativo.png" width="25">
                            <img src="assets/images/Inativo.png" width="25">
                        </th>
                        <th>Nome</th>
                        <th>SobreNome</th>
                        <th>Departamento</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gabriel</td>
                        <td>Vilela</td>
                        <td>TI</td>
                        <td>
                            <button>Editar</button>
                            <button>Detalhes</button>
                        </td>
                        <td>
                            <button>Excluir</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>